body {
    margin: 0;
  }
  
  * {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
  }
  
  h1 {
    margin: 100px 400px;
    text-align: center;
    font-size: 1.67em;
    width: 40%;
  }
  
  button.redondo {
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    padding: 0px 20px;
    height: 32px;
  }
  
  div#introduction-actions {
    display: flex;
    justify-content: center;
  }
  
  
  .menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    display: flex;
    
  }

  nav {
    display: flex;
  
  }

  .logo img {
    max-width: 100%;
    height: auto;
    padding: 10px;
  }
  
  .menu {
    display: flex;
    list-style: none;
    margin: 10;
    padding: 10;
  }
  
  
  .menu li {
    margin: 10px 10px;
    font-size: 14px;
  }
  
  
  .menu li:hover {
    color: #6b53f0;
  }

 
  
.font-icons:hover {
  color: #d153f0;
}

 
.redondo {
  background-color: white;
  color: black;
  font-style: bold;
  font-size: 14px;
  border-radius: 25px;
  padding: 10px 25px;
  height: 32px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  align-items: center;
  width: 140px;
}

.redondo:hover {
  background-color: black;
  color: white;
}

  .r-violeta {
    background-color:#ffffff;
    color: #6b53f0;
    font-style: bold;
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 14px;
    height: 32px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    align-items: center;
    text-align: center;
    width: 140px;
  }
  
  .r-violeta:hover {
    background-color: #6b53f0 ;
    color:#ffffff;
  }


  
  #introduction {
    padding-top: 150px;
    padding-bottom: 70px;
  }
  
  #introduction-text {
    display: flex;
    justify-content: center;
    
  }
  
  
  .counters-box {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .counter-number {
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
  }
  
  .counter-text {
    font-size: 0.9em;
    color: #8c939c;
  }

  
  @media screen and (max-width: 600px) {
    .counters-row {
      flex-direction: column;
    }
    
  }
  .caja-externa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20%;
  }
  
  #introduction {
    display: flex;
    justify-content: center;
    padding: 18px 0px;  }

  .fusion-row {
      margin: 0 auto;
  }
  
  .counter {
    color: #fff;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
  }
  
  
  #counter-container {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  #counter-container > div {
    flex-basis: 50%;
  }
  
  @media screen and (min-width: 600px) {
    #counter-container > div {
      flex-basis: auto;
    }
  }
  

  footer {
    background-color: #201b24;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-column {
    flex-basis: 20%;
    margin-bottom: 20px;
    justify-content: space-between;
      flex-direction: column;
      align-items: flex-start;
      font-size: 12px;
    }
  
  
  .footer-column h4 {
    margin: 0;
  }

  .footer-column img {
    max-width: 100%;
    justify-content: space-between;
  }
  
  .footer-column p {
    margin-bottom: 10px;
    font-size: 12px;
    color: #c9c4c4;
    text-align: left;
  }
  
  .footer-column h3 {
    margin-bottom: 5px;
    text-align: left;
  }